body {
  background-image: url('https://thumbs.dreamstime.com/z/subtle-blue-background-2597868.jpg');
  display: flex;
  justify-content: space-between;
  font-family: 'Vollkorn', serif;
}

canvas {
  background-color: black;
  background-image: url('https://orig00.deviantart.net/bb2c/f/2012/109/e/c/light_gray_windows_8_background_by_gifteddeviant-d4wofjz.png');
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0A1612;
  max-height: 600px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px black;
}

.logo {
  font-size: 36px;
  text-emphasis: bolder;
  color: #F53240;
}

body div {
  min-width: 100px;
  margin: 0 10px;
}

.points-display {
  background-color: black;
  color: white;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 10px 15%;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  width: 15%;
  text-align: center;
  float: right;
  margin: 5% 20px;
}

.how-to-play {
  font-size: 18px;
}

.how-to-play p {
  font-style: italic;
  font-size: 16px;
  margin-left: 20px;
}

.footer {
  background-color: rgba(0,0,0,0);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 30px;
  padding: 5px 10px;
}

.footer a {
  color: black;
  margin: 0 10px;
}
