body {
  background-image: url('https://thumbs.dreamstime.com/z/subtle-blue-background-2597868.jpg');
  display: flex;
  font-family: 'Vollkorn', serif;
  justify-content: space-between;
  max-height: 1000px;
  min-width: 1050px;
  object-fit: cover;
  position: relative;
}

canvas {
  background-color: lightgray;
  border: 2px solid #0A1612;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  position: relative;
  top: 8%;
  z-index: -1;
}

body div {
  margin: 0 10px;
  min-width: 100px;
}

.logo {
  color: #F53240;
  font-size: 36px;
  margin-left: 5%;
  margin-right: 10%;
  text-emphasis: bolder;
}

.points-display {
  background-color: black;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  color: white;
  float: right;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  margin: 25% 10% 5% 0;
  padding: 10px 15%;
  text-align: center;
  width: 15%;
}

.how-to {
  background-color: lightgray;
  background-image: url('https://orig00.deviantart.net/bb2c/f/2012/109/e/c/light_gray_windows_8_background_by_gifteddeviant-d4wofjz.png');
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  float: right;
  font-style: italic;
  font-size: 22px;
  font-weight: bold;
  margin-left:10%;
  margin-right: 10%;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.how-to:hover {
  background-color: #e6e6e6;
  color: lightgray;
  cursor: pointer;
}

.how-to-play {
  color: #F53240;
  font-size: 18px;
}

.how-to-play p {
  font-size: 16px;
  font-style: italic;
  margin-left: 20px;
}

.controls-header {
  text-align: center;
}

.spacebar {
  color: #1a1a1d;
  text-align: center;
}

.white_content {
  display: none;
  position: absolute;
  object-fit:cover;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 65%;
  padding: 16px;
  border: 8px solid #F53240;
  background-color: #e6e6e6;
  background-image: url('https://ak7.picdn.net/shutterstock/videos/488137/thumb/1.jpg');
  z-index: 1002;
  overflow: auto;
  border-radius: 5px;
  max-height: 448px;
}

.instructions {
  position: relative;
  top: 40px;
}

.controls {
  color: #F53240;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.exit {
  text-decoration: none;
  color: black;
  font-size: 36px;
}

.exit:hover {
  color: #F53240;
  font-size: 40px;
}

.encouraging-message {
  position: relative;
  float: right;
  left: 10%;
  width: 100%;
  color: #4e4e50;
  font-style: bold;
  bottom: 200px;
}

.gg {
  position: fixed;
  font-size: 45px;
  margin-left: 35%;
  margin-right: 50%;
  color: #e6e6e6;
  background-color: #F53240;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VphbM00/videoblocks-abstract-red-background-with-floating-particles-seamlessly-loopable-animation_h-x9cme9l_thumbnail-full01.png');
  box-shadow: 5px 5px 5px darkgray;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 100px;
  left: 5%;
  z-index: 10000;
  width: 30%;
  height: 175px;
  top: 10%;
}

.footer {
  background-color: rgba(0,0,0,0);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 30px;
  padding: 5px 10px;
}

.footer a {
  color: black;
  margin: 0 10px;
}

.screen {
  display: none;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 200%;
  height: 150%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .95;
  filter: alpha(opacity=80);
}
